# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/
*.pyc

# Environment
.env
*.env.local
*.env.production

# Docker volumes
postgres_data/
pgadmin_data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Alembic
*.pyc

# Secrets
*.pem
*.key
*.cert
node_modules

# Local Environments
.venv/
pyrightconfig.json
